<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <title>Poker Appie</title>
</head>

<body>
    <main id="poker">
        <header>
            <h1>Poker</h1>
            <p><%= room %></p>
        </header>

        <section class="table">
            <div>
                <div class="river">
                    <img class="river-card" src="" alt="">
                    <img class="river-card" src="" alt="">
                    <img class="river-card" src="" alt="">
                    <img class="river-card" src="" alt="">
                    <img class="river-card" src="" alt="">
                </div>

                <div class="player-cards">
                    <img class="user-card" src="" alt="">
                    <img class="user-card" src="" alt="">
                </div>
            </div>
        </section>

        <section class="status">
            <h2>Status</h2>
            <ul id="status-list">
            </ul>
        </section>

        <section class="players">
            <h2>Players</h2>
            <ul id="players">
            </ul>
        </section>

        <div class="controls">
            <% if (leader) { %>
                <button type="button" id="start-button">Start</button>
            <% } else {%> 
                <p>Wait until leader starts game</p>
            <% } %>
        </div>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const roomId = '<%= room %>';
        const name = '<%= name %>';
        const leader = '<%= leader %>';
    </script>
    <script src="/js/poker.js"></script>
</body>

</html>