<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Poker Appie</title>
</head>

<body>
    <main id="poker">
        <header>
            <h1>Poker</h1>
            <p><%= room %></p>
        </header>

        <section class="table">
            <div>
                <img class="user-card" src="" alt="">
                <img class="user-card" src="" alt="">
            </div>
            
            <div>
                <img class="river-card" src="" alt="">
                <img class="river-card" src="" alt="">
                <img class="river-card" src="" alt="">
                <img class="river-card" src="" alt="">
                <img class="river-card" src="" alt="">
            </div>
        </section>

        <div class="controls">
            <% if (leader) { %>
                <button type="button" id="start-button">Start</button>
            <% } %>
        </div>

        <section class="status">
            <h3>Update bar:</h3>
            <ul id="status-list"></ul>
        </section>

        <section class="players">
            <h3>Players:</h3>
            <ul id="players">
            </ul>
        </section>
    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const roomId = '<%= room %>';
        const name = '<%= name %>';
        const leader = <%= leader %>;
    </script>
    <script src="/js/poker.js"></script>
</body>

</html>