<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <title>Poker Appie</title>
</head>

<body>
    <h1>Players</h1>
    <ul id="players">
    </ul>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const playerName = <%= name %>
        const roomId = <%= room %>
    </script>
    <script src="/js/staging.js"></script>
</body>

</html>