<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <title>Poker Appie</title>
</head>

<body>
    <h1>Players</h1>
    <p><%= room %></p>
    <ul id="players">
    </ul>

    <button id="start-button">Start</button>

    <div>
        <img class="user-card" src="" alt="">
        <img class="user-card" src="" alt="">
    </div>

    <div>
        <img class="river-card" src="" alt="">
        <img class="river-card" src="" alt="">
        <img class="river-card" src="" alt="">
        <img class="river-card" src="" alt="">
        <img class="river-card" src="" alt="">
    </div>

    <button id="end-button">End</button>
    
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const roomId = '<%= room %>'
        const name = '<%= name %>'
    </script>
    <script src="/js/staging.js"></script>
</body>

</html>